* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.formComponent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formComponent h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #cecece;
  padding: 30px;
  border-radius: 10px;
}

label {
  color: black;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 380px;
  height: 50px;
}

input {
  font-size: 16px;
  padding: 12px 15px;
}

.star {
  color: red;
}

.error {
  font-size: 16px;
  color: red;
  margin-top: 5px;
}

button {
  width: 100%;
  font-size: 16px;
  color: white;
  background: #7fba0b;
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.radio {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.select__input-container.css-1sk3wyf-Input2,
.css-18w4uv4 {
  padding-top: 0;
  padding-bottom: 0;
}

.success {
  font-size: 18px;
  color: #618f04;
  text-align: center;
}
